##                                          Topic- Classes and Objects

In [1]:
#                      1. Create a class ABC without any attributes and methods, ie. an empty class.

# solution :

class ABC:

    pass

In [2]:
#                        2. Create a class named School. Write a constructor to initialize the attributes.


#                                                        School

#   ---------------------------------------------------------------------------------------------------------------------------------

#                                                        name
#                                                    academic_year
#                                                    total_students
#                                                       board
#                                                    own_transport

#   ---------------------------------------------------------------------------------------------------------------------------------


# Solution :

class School:

    def __init__(self, name, academic_year, total_students, board, own_transport):

        self.name = name
        self.academic_year = academic_year
        self.total_students = total_students
        self.board = board
        self.own_transport = own_transport

In [3]:
#                                        3. Create two School objects :  school1 and school2:

#   ---------------------------------------------------------------------------------------------------------------------------------

#                                                        school1

#   ---------------------------------------------------------------------------------------------------------------------------------

#                                                   name = ‘Oxford’
#                                              academic_year = 2024
#                                              total_students = 2215
#                                                  board = ‘CBSE’
#                                              own_transport = ‘no’

#   ---------------------------------------------------------------------------------------------------------------------------------


#   ---------------------------------------------------------------------------------------------------------------------------------

#                                                        school2

#   ---------------------------------------------------------------------------------------------------------------------------------

#                                                name = ‘Chaitanya’
#                                                academic_year = 2024
#                                                total_students = 2245
#                                                board = ‘ICSE’
#                                                own_transport = ‘yes'

#   ---------------------------------------------------------------------------------------------------------------------------------



#  Solution :

school1 = School(name='Oxford', academic_year=2024, total_students=2215, board='CBSE', own_transport='no')

school2 = School(name='Chaitanya', academic_year=2024, total_students=2245, board='ICSE', own_transport='yes')

In [8]:

#                                   4. Find the name of the school that has more students.


if school1.total_students > school2.total_students:

    print(school1.name, "School has more students")

else:

    print(school2.name, "School has more students")

Chaitanya School has more students